.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin-top: 100px;
}


/* ==============
Pricing
===================*/
.plan-card {
  margin-top: 100px;
  margin-bottom: 100px;
}

.plan-card:hover {
  color:#61dafb;
  background-color: lavenderblush;
}



.plan-card .plan-icon {
  display: inline-block;
  font-size: 35px;
  width: 100px;
  height: 100px;
  color: #ffffff;
  line-height: 76px;
  overflow: hidden;
  border: 12px solid #ffffff;
  border-radius: 50%;
  background: #67a8e4;
  box-shadow: 0 0 3px #cccccc;
  transition: all .3s;
}

.plan-card .plan-price span {
  font-size: 15px;
  vertical-align: middle;
}

.plan-card .plan-features p {
  line-height: 32px;
  
}

.bg-pink {
  background-color: #f06292 !important;
}

.bg-teal {
  background-color: #009688 !important;
}

.text-pink {
  color: #f06292 !important;
}

.text-teal {
  color: #009688 !important;
}

.btn-pink {
  background-color: #f06292;
  border: 1px solid #f06292;
  color: #ffffff;
}

.btn-teal {
  background-color: #009688;
  border: 1px solid #009688;
  color: #ffffff;
}

/* CenteredNavbar.css */
.centered-container {
  margin-left: auto !important;
  margin-right: auto !important;
}










































































































